= form_with model: [@user, @product], html: { multipart: true, class:"edit_product"},url: user_products_path do |f|
  = render 'layouts/error_messages', model: f.object
  = render partial:'form', locals: {:f =>f}
  = f.submit